@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;
  height: 100%;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
